<!DOCTYPE html>
<html>
<head>
    <title>FengGenX-About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" >
    <link rel="stylesheet" href="/css/about.css">
    
</head>
<body>
     <!-- Header Navigation Bar -->
     <nav class="navbar navbar-expand navbar-dark custom-header-bg">
      <div class="container d-flex justify-content-between align-items-center">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" style="margin-left:-150px">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item" style="margin-left:250px">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item" style="margin-left:250px" m>
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        <button class="button" id="form-open">Login</button>
      </div>
    </nav>


    <section class="background">
      <div class="content">
        <h2><b>FengGenX</b></h2>
        <p>Feng Shui Generated Floor Plans</p>
      </div>
    </section>


  <!-- About Section -->
    <div class="about-section">
      <div class="parent-container">
        <div class="inner-container">
          <h1>More About Us</h1>
          <p>Welcome to FengGenX where it is a one stop for finding the best locations to 
            place your plants in the comfort of your homes. 
          </p>
          <div class="skills">
            <span>Web Design</span>
            <span>Photoshop</span>
            <span>coding</span>
          </div>
        </div>
      </div>
    </div>


    <!-- Home - login button section -->
    <section class="home">
        <div class="form_container">
          <i class="uil uil-times form_close"></i>
          <!-- Login form -->
          <div class="form login_form show">
            <form action="#">
              <h2>Login</h2>
  
              <div class="input_box">
                <input type="email" placeholder="Enter your email" required id="signedEmail" value="">
                <i class="uil uil-envelope-alt email"></i>
              </div>
              <div class="input_box">
                <input type="password" placeholder="Enter your password" required id="signedPassword" value="">
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
              </div>
  
              <div class="option_field">
                <span class="checkbox">
                  <input type="checkbox" id="check">
                  <label for="check">Remember me</label>
                </span>
                <a href="#" class="forgot_pw">Forgot password?</a>
              </div>
              
              <button class="button" id="login-button" action="/locations" method="GET">Login Now</button>
  
              <div class="login_signup">Don't have an accout? <a href="#" id="signup">Signup</a></div>
            </form>
          </div>





          <!-- Add this div to display the error message -->
          <!-- <div id="passwordMismatchError" style="color: red; display: none;">Passwords do not match</div> -->
  
          <!-- Sign Up -->
          <div class="form signup_form show">
            <form action="#">
              <h2>Signup</h2>
              
              <div class="input_box">
                <input type="name" placeholder="Enter your name" required id="signupName" value="">
                <i class="uil uil-user-circle user"></i>
              </div>
              <div class="input_box">
                <input type="email" placeholder="Enter your email" required id="signupEmail" value="">
                <i class="uil uil-envelope-alt email"></i>
              </div>
              <div class="input_box">
                <input type="password" placeholder="Create password" required id="signupPassword" value="">
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
              </div>
              <div class="input_box">
                <input type="password" placeholder="Confirm password" required id="confirmPassword" value="">
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
              </div>

              <!-- Display the error message here -->
              <div id="passwordMismatchError" style="color: red; display: none;">Passwords do not match</div>
  
              <!-- <a href="/reservedLot" class="button-like-like">Signup Now</a> -->
  
              <button class="button" type="submit">Signup Now</button>
  
              <div class="login_signup">Already have an accout? <a href="#" id="login">Login</a></div>
  
              <!-- Add this div for the popup -->
              <div id="signupSuccessModal" class="modal">
                <div class="modal-content">
                  <span class="close" id="closeModal">&times;</span>
                  <!-- <p>Your account has been created successfully! Click here to log in.</p> -->
                  <p>Your account has been created successfully!</p>
                  <!-- <button class="button" id="form-open">Click here to log in</button> -->
                    
                </div>
              </div>
            </form>
          </div>
         
        </div>
      </section>

      



      <!-- Footer -->
      <footer class="custom-footer-bg text-light pt-3 pb-2">
        <div class="footer-container text-left text-md-left">
            <div class="row text-left text-md-left">
    
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-1">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">CarParko</h5>
                    <hr class="mb-4">
                    <p>It's a never ending battle of making your journeys smoother and enjoyable
                    </p>
    
                </div>
    
                <div class="col-md-2 col col-lg-2 col-xl-2 mx-auto mt-1">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Account</h5>
                    <hr class="mb-4">
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Profile</a>
                    </p>
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Settings</a>
                    </p>
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Billing</a>
                    </p>
                    <!-- <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Notifications</a>
                    </p> -->
    
                </div>
    
                <div class="col-md-2 col col-lg-2 col-xl-2 mx-auto mt-1">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Company</h5>
                    <hr class="mb-4">
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Help Center</a>
                    </p>
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Support</a>
                    </p>
                    <p>
                        <a href="#" class="text-light" style="text-decoration: none;">Privacy Statement</a>
                    </p>
                    <p>
                      <a href="#" class="text-light" style="text-decoration: none;">Terms of use</a>
                  </p>
                </div>
    
    
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-1">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Contacts</h5>
                    <hr class="mb-4">
                    <p>
                        <li class="fas fa-home mr-3">Based in Singapore </li>
                    </p>
                    <p>
                        <li class="fas fa-envelope mr-3">Email: carparko@gmail.com</li>
                    </p>
                    <p>
                        <li class="fas fa-phone mr-3">Tel: +65 6389 7837</li>
                    </p>
                    <p>
                        <li class="fas fa-print mr-3">Fax: +65 8273 8373</li>
                    </p>
                </div>
            </div>
    
                <hr class="mb-4">
                <div class="row d-flex justify-content-center">
                    <div> 
                        <p> 
                            Copyright 2023 All Rights Reserved By:
                            <a href="#" style="text-decoration: none;">
                                <strong class="text-info">CarParko</strong>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="text-center">
                        <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">
                            <a href="#" class="text-light"><i class='bx bxl-facebook' ></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light"><i class='bx bxl-google' ></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light"><i class='bx bxl-linkedin' ></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light"><i class='bx bxl-youtube' ></i></a>
                        </li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </div>
    
      </footer>

      
      <!-- Javascript for the signin & login form -->
      <script>
        const formOpenBtn = document.querySelector("#form-open"),
        home = document.querySelector(".home"),
        formContainer = document.querySelector(".form_container"),
        formCloseBtn = document.querySelector(".form_close"),
        signupBtn = document.querySelector("#signup"),
        signupForm = document.querySelector(".signup_form"),
        loginBtn = document.querySelector("#login"),
        loginForm = document.querySelector(".login_form"),
        pwShowHide = document.querySelectorAll(".pw_hide"),
        modalContent = document.querySelector(".model-content"),
        modal = document.getElementById("signupSuccessModal"),
        closeModalBtn = document.getElementById("closeModal");

        // Assuming the user has successfully signed up
        const signupEmailInput = document.getElementById('signupEmail');
        const signupPasswordInput = document.getElementById('signupPassword');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const passwordMismatchError = document.getElementById("passwordMismatchError");
   
        // New login-related JavaScript code
        const loginEmailInput = document.querySelector('.email input[type="email"]');
        const loginPasswordInput = document.querySelector('.password input[type="password"]');
        // const modalContent = document.querySelector(".modal-content");
        // const modal = document.getElementById("signupSuccessModal");
        // const closeModalBtn = document.getElementById("closeModal");
        // const loginButton = document.querySelector(".login_form button");
        // Find the login button element by its ID
        const loginButton = document.getElementById('login-button');

        // Store the input data in local storage
        localStorage.setItem('signupEmail', signupEmailInput.value);
        localStorage.setItem('signupPassword', signupPasswordInput.value);
        localStorage.setItem('confirmPassword', confirmPasswordInput.value);

        // Check if there is stored data in local storage
        const storedSignupEmail = localStorage.getItem('signupEmail');
        const storedSignupPassword = localStorage.getItem('signupPassword');
        const storedConfirmPassword = localStorage.getItem('confirmPassword');

        
        

        // If stored data exists, pre-fill the login form
        if (storedSignupEmail && storedSignupPassword && storedConfirmPassword) {
          loginEmailInput.value = storedSignupEmail;
          loginPasswordInput.value = storedSignupPassword;
        }


        formOpenBtn.addEventListener("click", () => home.classList.add("show"));
        formCloseBtn.addEventListener("click", () => {
          home.classList.remove("show");
          modal.style.display = "none"; // Hide the modal when closing the form
        });
    
        pwShowHide.forEach(icon => {
          icon.addEventListener("click", () => {
            let getPwInput = icon.parentElement.querySelector("input");
            if(getPwInput.type === "password"){
              getPwInput.type = "text";
              icon.classList.replace("uil-eye-slash", "uil-eye")
            }else{
              getPwInput.type = "password";
              icon.classList.replace("uil-eye", "uil-eye-slash")
            }
          })
        })
    
        
    
        signupBtn.addEventListener("click", (e) => {
          formContainer.classList.add("active");
          // Show the popup when the Signup Now button is clicked 
          modal.style.display = "none";
          signupForm.style.display ="block";
          loginForm.style.display = "none"; // Hide the login form 
           // Reset the input fields
          signupEmailInput.value = "";
          signupPasswordInput.value = "";
          confirmPasswordInput.value = "";
        });
        
        loginBtn.addEventListener("click", (e) => {
          e.preventDefault();
          formContainer.classList.remove("active");
          home.classList.add("show");
          // Show the login form when the "login" button is clicked 
          signupForm.style.display = "none"; // Hide the signup form 
          loginForm.style.display = "block"; 
          // Reset the input fields
          signedEmailInput.value = "";
          signedPasswordInput.value = "";
        });
    
        // Add an event listener for the signup form submission
        signupForm.addEventListener("submit", (e) => {
          e.preventDefault();
          // Store the email and password in local storage
          // localStorage.setItem("savedEmail", signupEmailInput);
          // localStorage.setItem("savedPassword", signupPasswordInput);
          const signupPasswordInput = document.getElementById("signupPassword").value;
          if (signupPasswordInput !== confirmPasswordInput.value) {
            passwordMismatchError.style.display = "block"; // Display the error message
          } else {
              // Passwords match, you can proceed with form submission
              // Reset the error message if previously shown
              passwordMismatchError.style.display = "none";

              // Perform other form submission actions here
              // formContainer.classList.add("active");
            // Show the popup when the Signup Now button is clicked
              modal.style.display = "block";
          }
        });

      //   loginButton.addEventListener("click", (e) => {
      //   e.preventDefault();

      //   // Get entered email and password
      //   const enteredEmail = loginEmailInput.value;
      //   const enteredPassword = loginPasswordInput.value;

      //   // Check if entered credentials match stored values
      //   if (enteredEmail === storedSignupEmail && enteredPassword === storedSignupPassword) {
      //     // Successful login, you can redirect or perform other actions here
      //     // For now, we'll just show a success message
      //     modalContent.innerHTML = "<p>Login successful!</p>";
      //     modal.style.display = "block";
      //   } else {
      //     // Display error message for incorrect credentials
      //     modalContent.innerHTML = "<p>Email or password is incorrect.</p>";
      //     modal.style.display = "block";
      //   }
      // });

      // Add a click event listener to the login button
        loginButton.addEventListener('click', () => {
          // Redirect the user to the loggedin route
          window.location.href = '/loggedinhome';
        });
    
    
        closeModalBtn.addEventListener("click", function() {
          home.classList.add("show"); // Hide the form and the modal when clicking 'x' in the modal
          modal.style.display = "none";
          formContainer.classList.add("active");
          // Show the login form when closing the popup with 'x'
          signupForm.style.display = "none";
          loginForm.style.display = "block";
          // home.classList.remove("show");
        });
        
        // Close the modal if the user clicks outside of it
        window.addEventListener("click", function(event) {
          if (event.target === modal) {
            home.classList.remove("show"); // Hide the form and the modal when clicking 'x' in the modal
            modal.style.display = "none";
            formContainer.classList.remove("active"); // Show the login form
            // Show the login form when clicking ouside the modal 
            signupForm.style.display = 'none';
            loginForm.style.display = "block";
          }
        });
        
        modalContent.addEventListener("click", () => {
          home.classList.add("show"); // Hide the form
          modal.style.display = "none"; // Hide the modal
          formContainer.classList.add("active"); // Show the login form
          // Show the login form when clicking ouside the modal 
          signupForm.style.display = 'none';
            loginForm.style.display = "block";
        });
         
      
    
      </script>

</body>
</html>

